
.errorIssueLineItem {
  padding: 10px 0;
}
.errorIssueLinkWrapper {
  /* background: gray; */
  text-align: center;
  vertical-align: center;
  align-items: center;
  color: #4987BD;
}

.errorIssueDescriptionWrapper {
  padding: 10px 0;
  text-align: center;
  vertical-align: center;
}
