.bulletConnector {
  /* height: calc(100% + 32px); */
  /* min-height:100px; */
  width: 2px;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  /* left: -17px; */
  background: #282f4d;
  /* width: 2px; */
  /* content: " "; */
  /* height: max-content; */
  /* overflow: visible; */
  position: absolute;
}
