{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "editorconfig": true,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "importOrder": [
    "^@vercel/?(.*)?$",
    "^next/?(.*)?$",
    "^@carbon/?(.*)?$",
    "^antd/?(.*)?$",
    "^@ant-[a-zA-Z-_]{0,8}/?(.*)?$",
    "^@[^/]*/?(.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^[.]{2}[/]lib/(.*)$",
    "^[.]{2}[/]components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
