.grid {
  display: grid;
  grid-gap: 0.5rem;
  grid-column-gap: 0;
  grid-template-columns: repeat(10, minmax(10px, 1fr));
  margin-top: 15px;
  overflow-x: hidden;
}

.scrollable {
  extend: grid;
  height: calc(100vh - 320px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: -20px
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.subgrid {
  display: grid;
  grid-template: inherit;
  gap: inherit;
  grid-column: 1 / -1;
}

.item {
  height: 100px;
  font-size: 15px;
  text-align: left;
  overflow: auto;
  overflow-wrap: break-word;
  background: #a0aec0;
  height: min-content;
}

.item.itemHeader {
  background: revert;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  /** must align with .timelineTick left positioning. This is done in order to handle the centering of the text and grid ticks*/
  left: -1rem;
  z-index: 4;
}

.nested > .item:not(.group) {
  background: #fafafa;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  margin: 2px 2px;
  z-index: 5;
  /* min-height: 6rem; */
}

.scrollable .item.group:nth-child(2) {
  margin-top: 20px;
}

.item.group {
  background: revert;
  grid-row: 1 / -1;
  font-weight: 600;
  grid-column: 1 / span 2;
  grid-column-end: none;
  background: white;
  color: #3182ce;
}

/* detail view GroupHeader text */
.item.group div:first-child {
  position: relative;
  z-index: 3;
}

.groupWrapper {
  border-radius: 2px;
  grid-auto-flow: dense;
}

.groupWrapper:not(.timelineHeaderLineWrapper) {
  margin-bottom: 20px;
}

.groupWrapper:nth-child(odd):not(.timelineHeaderLineWrapper) {
  background: rgba(215, 228, 253, 0.5);
  padding: 1.25rem 0;
}

.groupWrapper:nth-child(even):not(.timelineHeaderLineWrapper) {
  background: rgba(215, 228, 253, 0.5);
  padding: 1.25rem 0;
}

.simpleView {
  background-color: revert !important;
  color: revert !important;
}

.issueDueDate {
  text-align: left;
  font-size: 14px;
  align-self: end;
}

.issueItem {
  display: grid;
  border: 1px solid #a0aec0;
  border-radius: 4px;
  padding: 10px;
}

.timelineBox {
  padding: 0.25rem;
}

.progress {
}

.milestoneTitleWrapper {
  text-overflow: ellipsis;
  margin-top: 0.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

.milestoneTitle {
  font-size: 14px;
  font-weight: 600;
}

a.milestoneTitle {
  color: rgba(7, 119, 225, 1);
}

.milestoneDate {
  font-size: 13px;
  justify-self: right;
  padding-top: 25px;
  /* position: relative;
  bottom: 1rempx; */
}

.timelineTick {
  background: #d5d5d5;
  justify-self: center;
  position:relative;
  /** must align with .itemHeader left positioning. This is done in order to handle the centering of the text and grid ticks*/
  left: -1rem;
  z-index: 6;
}

.timelineHeaderLine {
}

.timelineHeaderLineWrapper {
  background: revert !important;
  border-top: 1px solid;
  gap: 0px;
}

@media screen and (max-width: 600px) {
  .issueItem {
    grid-column-start: span 6 !important;
  }
}

.wrapperLink {
  cursor: pointer;
  border-width: 2px;
}

.wrapperLink:hover {
  border: 2px solid #1FA5FF;
}

.noDecoration {
  text-decoration: none !important;
}
