.grid {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: repeat(10, minmax(10px, 1fr));
  overflow-x: hidden;
  background: #F9FCFF;
  border-radius: 10px 10px 0 0;
}

.scrollable {
  extend: grid;
  height: calc(100vh - 288px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: -20px;
  border-radius: 0 0 10px 10px;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.subgrid {
  display: grid;
  grid-template: inherit;
  gap: inherit;
  grid-column: 1 / -1;
}

.item {
  height: 100px;
  font-size: 15px;
  text-align: left;
  overflow: auto;
  overflow-wrap: break-word;
  background: #a0aec0;
  height: min-content;
}

.item.itemHeader {
  background: revert;
  text-align: center;
  /* font-size: 16px; */
  font-weight: 600;
  position: relative;
  /** must align with .timelineTick left positioning. This is done in order to handle the centering of the text and grid ticks*/
  left: -1rem;
  z-index: 4;
  padding: 4px 0;
}

.nested > .item:not(.group) {
  background: #fafafa;
  padding: 8px;
  border-radius: 8px;
  margin: 2px 2px;
  z-index: 5;
}

/* detail view first-group */
.detailView .scrollable .item.group:first-child {
  margin-top: 20px;
}

.item.group {
  background: revert;
  grid-row: 1 / -1;
  font-weight: 500;
  grid-column: 1 / span 2;
  grid-column-end: none;
  background: #ffffff;
  color: #3182ce;
  padding: 0 8px;
}

/* detail view GroupHeader text */
.item.group div:first-child {
  position: relative;
  z-index: 6;
}

.groupWrapper {
  border-radius: 2px;
  grid-auto-flow: dense;
}

.groupWrapper:not(.timelineHeaderLineWrapper) {
  margin-bottom: 20px;
}

.groupWrapper:nth-child(odd):not(.timelineHeaderLineWrapper) {
  background: #fafafa;
  padding: 1.25rem 0;
}

.groupWrapper:nth-child(even):not(.timelineHeaderLineWrapper) {
  background: #fafafa;
  padding: 1.25rem 0;
}

.simpleView {
  color: revert !important;
}

.issueDueDate {
  text-align: left;
  font-size: 14px;
  align-self: end;
}

.issueItem {
  display: grid;
  border: 1px solid rgba(239, 239, 239, 1);
  border-radius: 4px;
  padding: 10px;
  background: #ffffff;
}

.timelineBox {
  position: relative;
}

.tabPanels .timelineBox {
  padding: 0;
}

.tabPanels {
  background: #fafafa;
  border-radius: 10px;
  border: 1px solid #A2D0DE;
  margin-top: 20px;
  padding: 0;
}

.milestoneTitleWrapper {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: .5rem;
  color: #313239;
}

.milestoneTitleWrapperLink {
  color: #4987bd;
  cursor: pointer;
}

.milestoneTitle {
  font-size: 14px;
  font-weight: 600;
}

a.milestoneTitle {
  color: rgba(7, 119, 225, 1);
}

.milestoneDate {
  font-size: 13px;
  color: #A3A3A3;
  font-weight: 300;
  line-height: 1;
}

.timelineTick {
  background: #d5d5d5;
  justify-self: center;
  position: relative;
  /** must align with .itemHeader left positioning. This is done in order to handle the centering of the text and grid ticks*/
  left: -1rem;
  z-index: 6;
}

.timelineHeaderLineWrapper {
  background: #fafafa;
  border-top: 1px solid #A2D0DE;
  gap: 0px;
}

@media screen and (max-width: 600px) {
  .issueItem {
    grid-column-start: span 6 !important;
  }
}

.wrapperLink {
  cursor: pointer;
  border-width: 1px;
}

.wrapperLink:hover {
  border: 1px solid #1FA5FF;
}

.noDecoration {
  text-decoration: none !important;
}

.gridViewTab {
  background: #FAFAFA;
  color: #313239;
  border: 1px solid #EFEFEF;
  font-weight: 300;
  font-size: '16px';
  border-radius: 8px;
  margin: 0 16px 0 0;
}

button.gridViewTab {
  height: 35px;
}

.gridViewTab a {
  padding: 0 4px;
}

.gridViewTab svg {
  height: 15px;
  width: 15px;
  margin-top: 1px;
}

.gridViewTab svg rect {
  stroke: #313239;
}

.gridViewTab[aria-selected=true] svg rect {
  stroke: #4987BD;
}

.gridViewTab[aria-selected=true] {
  color: #4987BD;
  font-weight: 500;
  border: 1px solid #A2D0DE;
  background: #F9FCFF;
}

.gridViewTab[aria-selected=false]:hover {
  font-weight: 300;
  color: #313239;
  background: #F9FCFF;
  border: 1px solid #A2D0DE;
}
